<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="904867272697-lab3laqa01f7tbao3q48otphgcudrojo.apps.googleusercontent.com">
    <title>Para-Press</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app"></div>
    <!-- <div class="container-fluid">
        <div class="row content" id="app">
            <!-- MAIN PAGE -->
                <!-- <div class="col bg-grey main-page">
                    <div id="images" style="width: 100%">
                        <div class="row ml-2">
                            <input type="text" class="form-control" v-model="filterValue" placeholder="Search" width="100%">
                        </div>
                        <div class="row pt-5" style="width: 100%;">
                            <div v-for="article in articles" style="width: 100%;">
                                <div class="ml-3 btn-light">
                                    <h5>{{ article.title }}</h5>
                                    <span v-html="article.content"></span>
                                    <span class="badge bg-blue ml-auto prop">{{ article.created_at }}</span>
                                    <div class="col-12 p-2">
                                        <button class="prop btn bg-blue" @click="updateArticle(article.title, article.content, article._id)">Edit</button>
                                        <button class="prop btn bg-blue" @click="deleteArticle(article._id)">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tiny">
                        <form v-if="status === 'update'" @submit.prevent="update(_id)" method="post">
                                <input class="form-control" v-model="title" type="text" name="title">
                                <textarea id="editor"></textarea>
                            <input class="btn bg-blue" type="submit" value="Edit">
                        </form>
                        <form v-else @submit.prevent="getResult()" method="post">
                            <input v-model="title" type="text" name="title">
                            <textarea id="editor"></textarea>
                            <input class="btn bg-blue" type="submit" value="Create">
                        </form>
                    </div>
                </div> -->
            <!-- </div>
        </div>
    </div> -->


    <!-- RUNNING SCRIPTS -->
    <script src="./scripts/main.js"></script>
</body>
</html>