<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/nhw3aqu.css" />
    <link href="./assets/styles.css" rel="stylesheet">
    <title>Good Quotes</title>
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light white">
        <a class="navbar-brand">Good Quotes</a>
        <span class="col-10"></span>
        <button v-if="status === 'off'" @click="triggerRegister" class="btn btn-primary my-2 my-sm-0" type="submit">Sign Up</button>
        <button v-if="status === 'off'" @click="triggerLogin" class="btn btn-primary my-2 my-sm-0" type="submit">Sign In</button>
        <button v-if="status === 'on'" @click="logout" class="btn btn-primary my-2 my-sm-0" type="submit">Logout</button>
      </nav>
      <div class="container-fluid">
        <div v-if="status === 'on'" class="row">
          <!-- FROM FAVQS -->
          <div class="col-6 right-border">
            <div class="row">
              <div v-for="quote in random" class="col-6 ">
                <div class="shadow-lg p-3 quote-box w-100">
                  <p class="quote-text">
                    {{ quote.quote }}
                  </p>
                  <hr>
                  {{ quote.author }}
                  <img class="my-icon" src="./assets/grin-hearts-regular.svg" @click="addToFavorites(quote)">
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <button class="btn btn-outline-info" @click="generateRandom">Random Quotes</button>
            </div>
          </div>
          <!-- MY QUOTES -->
          <div v-if="user" class="col-6">
            <div class="row" v-if="quotes.length > 0">
              <div class="col-6 " v-for="quote in quotes">
                <div class="shadow-lg p-3 quote-box w-100">
                  <p class="quote-text">
                    {{ quote.quote }}
                  </p>
                  <hr>
                  {{ quote.author }}
                  <img class="my-icon" src="./assets/dizzy-regular.svg" @click="removeFavorites(quote, quote._id)">
                </div>
              </div>

              <!-- When there are no quotes in your list -->
              <div v-if="quotes.length === 0" class="col-12 empty-list">
                <img src="/assets/empty.svg" alt="" />
                <span>Empty List</span>
              </div>
            </div>
          </div>
        </div>
        <!-- LOGIN -->
        <div class="container my-4" v-if="status === 'off' && form==='login'">
          <div class="row">
            <div class="col-12 p-0 flex-col">
              <img src="/assets/security.svg" alt="" style="height:35%;" class="text-center" />
              <h5 class="font-weight-light mb-3 text-center">You shall not pass, please verify your identity</h5>
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <form method="POST" @submit.prevent="login()">
                    <div class="form-group">
                      <label for="emailInput">Email address</label>
                      <input v-model="email"
                        type="email"
                        class="form-control"
                        id="emailInput"
                        aria-describedby="emailHelp"
                        placeholder="Enter email"
                        required
                        />
                      </div>
                      <div class="form-group">
                      <label for="passwordInput">Password</label>
                      <input v-model="password"
                        type="password"
                        class="form-control"
                        id="passwordInput"
                        aria-describedby="emailHelp"
                        placeholder="Enter password"
                        required
                        />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Log In</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- REGISTER -->
      <div class="container my-4" v-if="status === 'off' && form==='register'">
        <div class="row">
          <div class="col-12 p-0 flex-col">
            <img src="/assets/security.svg" alt="" style="height:35%;" class="text-center" />
            <h5 class="font-weight-light mb-3 text-center">You shall not pass, please verify your identity</h5>
            <div class="row">
              <div class="col-md-6 mx-auto">
                <form method="POST" @submit.prevent="register()">
                  <div class="form-group">
                    <label for="emailInput">Email address</label>
                    <input v-model="email"
                      type="email"
                      class="form-control"
                      id="emailInput"
                      aria-describedby="emailHelp"
                      placeholder="Enter email"
                      required
                      />
                    </div>

                    <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input v-model="password"
                      type="password"
                      class="form-control"
                      id="passwordInput"
                      aria-describedby="emailHelp"
                      placeholder="Enter password"
                      required
                      />
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <script src="https://code.jquery.com/jquery-3.4.1.js"
              integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
              crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="/scripts/index.js"></script>
    </div>
  </body>
  </html>
